/* PC */
@media (min-width: 1024px) {

}

@media (max-width: 1024px) {
    #footer {
        height: 700px;
    }
}
/* Table & mobile */
@media (max-width: 1023px) {
    #footer {
        height: 400px;
    }
}

/* Mobile */
@media (max-width: 740px) {
    .s-full-width {
        width: 100% !important;
        text-align: center;
    }
    #header {
        overflow: hidden;

    }


    #header .search {
        display: none;
    }
    #header .mobile-menu {
        display: block;
    }

    #header .mobile-menu{
        right: 0;
        font-size: 20px;
        float: right;
        color: aliceblue;
        line-height: 46px;
        padding: 0 21px;
        cursor: pointer;
        top: 0;
        position: absolute;
        /* display: none; */
    }

    #header .mobile-menu:hover
    {
        background-color: #ccc;
    }

    #header .mobile-menu:hover .menu-icon {
        color: #000;
    }

    #nav {
        display: block;
    }
    #nav > li {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav li {
        background-color:#333;
    }

    #nav .subnav a {
    color: #fff;
    padding: 7px 42px;
    }

    #content .content-section1 {
        height: 1200px;
    }

    #content .member-list .member-item {
        margin-top: 30px;
        width: 100%;

    }
    
    #content .tour-section {
        height: 1590px;
        background-color: #000;
    }

    .place-list .place-item {
        float:left; 
        width: 100%;
        padding: 0 8px;
        margin-top: 15px;
    }

    .col-half {
        width: 100%;
    }

    #contact .contact-info {
        font-size: 18px;
        height: 500px;
    }

    #content #contact  {
        height: 500px;
    }

    #content #contact .contact-name {
        margin-top: 30px;
        margin-bottom: 8px;
    }

    #footer {
        height: 200px;
    }
}